html,body{
    height: 90%;
}
body{
    margin-top: 80px;
    background-color: #ff8c00;
}

.main{
    height: 100%;
    background-color: white;
    margin: 30px;
}

.login{
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 20px;
}

.profile .img{
    float: left;
    width: 55%;
}
.profile .inf{
    float: right;
    width: 45%;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}