<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>我的主页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/jq/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
</head>
<body>

<div th:replace="navigation::nav"></div>

<div class="container-fluid main profile" th:if="${session.user != null}">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2>
                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                发现
            </h2>
            <hr>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <img th:src="${session.user.avatarUrl}" class="img-thumbnail img" alt="Responsive image">
            <div class="inf">
                你好！
                <b><span th:text="${session.user.name}"></span></b><br><br>
                ID：
                <b><span th:text="${session.user.userId}"></span></b><br><br>
                建号时间：<br>
                <b><span th:text="${#dates.format(session.user.gmtCreate,'yyyy-MM-dd')}"></span></b><br><br>
                上次登录时间：<br>
                <b><span th:text="${#dates.format(session.user.gmtLastLogin,'yyyy-MM-dd HH:mm:ss')}"></span></b><br><br>
            </div>
        </div>
    </div>
</div>
</body>

</html>